

.label {
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    background-color: transparent;
    border: none;
    outline: none;
}

.label-required {
    padding-top: 12px;
    justify-content: space-between;
    font-style: italic;
    float: right;
    color: #EC255A;
}