.main_list_form_page{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    background-color: #FFDCDC;
}
/* Colum 1 */
.main_list_form_column1{
    width: 20%;
    align-items: center;
    text-align: center;
}
.create_form_btn{
    width: 85%;
    height: 80px;
    background-color: #EC255A;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    margin: 10px;
    transition: 0.3s;
    color: white;
}

.list_form{
    width: 85%;
    height: 500px;
    
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #FFB4B4;
}
/* Column 2 */
.main_list_form_column2{
    width: 60%;
    background-color: transparent;
    margin: 0 30px;
    border-radius: 5px;
    padding: 20px 40px;
}

/* Column 3 */
.main_list_form_column3{
    width: 20%;
}

.delete_form_btn, .edit_form_btn, .deactive_form_btn{
    width: 80%;
    height: 60px;
    background-color: #EC255A;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    margin: 10px;
    transition: 0.3s;
    color: white;
}

.device {
    position: relative;
    display: block;
    background-color: #FFB4B4;
    padding: 30px 20px;
    padding-top: 50px;
    margin: auto;
    margin-top: 25px;
    overflow: scroll;
    border-radius: 5px;
}

.device-img-ipad {
    position: absolute;
    width: 853px;
    height: 1100px;
    object-fit: cover;
    left: 505px;
}


.device-img-iphoneX {
    position: absolute;
    width: 1000px;
    height: 100px;
    object-fit: cover;
    left: 505px;
}

.form-preview {
    background-color: #EC255A;
    width: 80%;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.3s;
    color: white;
    font-size: 20px;
}

.form-preview:hover {
    transform: scale(1.05);
}